<ng-template #ngModal>
    <div class="titulo">
        <h1 mat-dialog-title>Datos del Paciente</h1>
        <button mat-icon-button matTooltip="Primary" color="warn" [mat-dialog-close]="true" cdkFocusInitial
            class="icon">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content class="dialog-content">
        <div class="container-modal">
            <form class="form-modal" [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Nombre del paciente</mat-label>
                    <input matInput type="text" formControlName="nombrep">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Especie del paciente</mat-label>
                    <input matInput type="text" formControlName="especie">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Raza del paciente</mat-label>
                    <input matInput type="text" formControlName="raza">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Fecha de nacimiento </mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fecha_nacimiento">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1" class="datepicker-toggle">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1 color="warn"></mat-datepicker>
                </mat-form-field>

                <div class="dueño">
                    <mat-form-field appearance="outline">
                        <mat-label>Dueño</mat-label>
                        <mat-select name="dueño" formControlName="idd_duenios">
                            <mat-option *ngFor="let item of duenio" [value]="item.idd">
                                {{item.duenio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Ciudad</mat-label>
                    <input matInput type="text" formControlName="ciudad">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Direccion</mat-label>
                    <input matInput type="text" formControlName="direccion">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Fecha de registro</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fecha_registro">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2" class="datepicker-toggle">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="warn"></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="tel" formControlName="telefono">
                </mat-form-field>
            </form>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close
            (click)="savePaciente(formGroup)"><mat-icon>save</mat-icon></button>
    </mat-dialog-actions>

</ng-template>

<h1>Administracion de pacientes</h1>

<div class="content">
    <mat-form-field appearance="outline" class="filter">
        <mat-label>Buscar</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openDialog(ngModal); onActivar(false)" class="button-add">
        <mat-icon>pets</mat-icon> Nuevo Paciente</button>
    <button mat-raised-button color="primary" (click)="openDialogDuenio()" class="button-add">
        <mat-icon>person</mat-icon> Nuevo dueño paciente</button>

    <!-- <table mat-table [dataSource]="datosPacientes" class="mat-elevation-z8" matTableExporter #exporter="matTableExporter">

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element[column]}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [matMenuTriggerFor]="menu" class="btr"></tr>
        <mat-menu #menu="matMenu" xPosition="after" style="background-color: rgba(0, 0, 0, 0.123);">
            <button mat-mini-fab color="accent" style="margin: 5px;"
                (click)="openDialogUpdate(ngModal)" (click)="loadPaciente(); onActivar(true)"><mat-icon>create</mat-icon></button>
            <button mat-mini-fab color="warn" style="margin: 5px;" (click)="deletePaciente()"><mat-icon>delete</mat-icon></button>
        </mat-menu>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
        </tr>
    </table> -->

    <table mat-table [dataSource]="datosPacientes" class="mat-elevation-z8" matTableExporter
        #exporter="matTableExporter">
        <ng-container matColumnDef="nombrep">
            <th mat-header-cell *matHeaderCellDef> Nombre<br>Paciente </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.nombrep}} </td>
        </ng-container>
        <ng-container matColumnDef="especie">
            <th mat-header-cell *matHeaderCellDef> Especie </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.especie}} </td>
        </ng-container>
        <ng-container matColumnDef="raza">
            <th mat-header-cell *matHeaderCellDef> Raza </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.raza}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha <br>Nacimiento </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.fecha_nacimiento}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo_documento">
            <th mat-header-cell *matHeaderCellDef> Tipo <br>documento </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.tipo_documento}} </td>
        </ng-container>
        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> # Documento </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.documento}} </td>
        </ng-container>
        <ng-container matColumnDef="duenio">
            <th mat-header-cell *matHeaderCellDef> Nombre <br>Dueño </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.duenio}} </td>
        </ng-container>
        <ng-container matColumnDef="ciudad">
            <th mat-header-cell *matHeaderCellDef> Ciudad </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.ciudad}} </td>
        </ng-container>
        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Direccion </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.direccion}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.telefono}} </td>
        </ng-container>
        <ng-container matColumnDef="fecha_registro">
            <th mat-header-cell *matHeaderCellDef> Fecha <br>Registro </th>
            <td mat-cell *matCellDef="let element" (click)="value(element)"> {{element.fecha_registro}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [matMenuTriggerFor]="menu" class="btr"></tr>
        <mat-menu #menu="matMenu" xPosition="after" style="background-color: rgba(0, 0, 0, 0.123);">
            <button mat-mini-fab color="accent" style="margin: 5px;" (click)="openDialogUpdate(ngModal)"
                (click)="loadPaciente(); onActivar(true)"><mat-icon>create</mat-icon></button>
            <button mat-mini-fab color="warn" style="margin: 5px;"
                (click)="deletePaciente()"><mat-icon>delete</mat-icon></button>
        </mat-menu>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
        </tr>
    </table>

    <div class="button-export-content">
        <button mat-raised-button class="button-exlsx"
            (click)="exporter.exportTable('xlsx', {fileName:'Lista-Pacientes-XYZ'})">
            <mat-icon>get_app</mat-icon> Exportar .xlsx
        </button>

        <button mat-raised-button class="button-ixlsx">
            <mat-icon>publish</mat-icon> Importar .xlsx
            <input type="file" #fileInput />
        </button>
    </div>
</div>