.titulo {
    display: flex;
    flex-direction: row;
    position: relative;
    .icon {
        position: absolute;
        right: -10px;
        top: -10px;
    }
}

.form-modal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 15px;
    .example-form-field {
        margin-top: 2%;
        .datepicker-toggle {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .dueño {
        margin-top: 2%;
        display: flex;
        button {
            margin-left: 5px;
            margin-top: 10px;
            height: 40px;
        }
    }
}

h1 {
    margin-top: 3%;
    margin-left: 2%;
}

.content {
    width: 90%;
    margin: auto;
    .filter {
        width: 20%;
    }
    .button-add {
        margin-left: 1%;
    }
    tr:hover td {
        border-top: solid 2px rgb(34, 34, 34);
        border-bottom: solid 2px rgb(34, 34, 34);
    }
    th {
        font-weight: 600;
        font-size: 15px;
    }
    td,
    th {
        width: 9%;
        .button-row {
            display: flex;
            justify-content: center;
            button {
                margin-left: 7px;
            }
        }
    }
}
.button-export-content {
    margin-left: 2%;
    margin-top: 2%;
    .button-exlsx,
    .button-ixlsx {
        background-color: green;
        color: white;
        font-size: 20px;
        margin-right: 1%;
    }
    .button-ixlsx {
        position: relative;
        input {
            font-size: 100px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
        }
    }
}
